__pycache__
*.pyc
env
.env
*.sqlite3
media
node_modules
.vscode
.git
.DS_Store
# Docker build artifacts
*.deb


**/__pycache__/
**/*.pyc
.env
.venv/
venv/
env/
node_modules/
dist/
build/
**/site-packages/
