DEBUG=False
SECRET_KEY=your-secret-key-here
SERVER=your-server-domain
DB_NAME=sintra
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1,sintra.vanisa.cloud,195.35.9.243
